<ion-header>
  <ion-toolbar color="colorduocazul" class="pt-5">
    <ion-buttons slot="start">
      <ion-back-button text="" mode="ios" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-center fw-bold">Registro de Usuarios</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="usuario" (ngSubmit)="registrarse()">
        <ion-item>
          <ion-label position="floating">RUT</ion-label>
          <ion-input  type="text" formControlName="rut" id="rut" [(ngModel)]="dato.rut" placeholder="Ej: 20.400.300-k" #txtRut></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" formControlName="nombre" id="nombre" [(ngModel)]="dato.nombre" placeholder="Ej: John" #txtNombre></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input type="text" formControlName="ap_paterno" id="ap_paterno" [(ngModel)]="dato.ap_paterno" placeholder="Ej: Serrano" #txtApellido></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Fecha Nacimiento</ion-label>
          <ion-input type="date" formControlName="fecha_nac" id="fecha_nac" [(ngModel)]="dato.fecha_nac" placeholder="Ej: 17/10/1992" #txtNac></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" formControlName="correo" id="correo" [(ngModel)]="dato.correo" placeholder="Ej: alumno@duocuc.cl" #txtCorreo></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="clave" id="clave" [(ngModel)]="dato.clave" placeholder="Ej: ********* " #txtPassword></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Repetir Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="repetir_clave" [ngModelOptions]="{standalone: true}" id="repetir_clave" placeholder="Ambas contraseñas deben ser iguales " #txtPassword></ion-input>
        </ion-item>


        <ion-item>
          <ion-label class="normal">
              Foto Usuario:
          </ion-label>
          <ion-buttons slot="end">
            <ion-button>
               <label for="file-upload">
                 <ion-icon slot="icon-only" name="images"></ion-icon>
               </label>
                <input  (change)="newImageUpload($event)" id="file-upload" style="display: none" type="file"  accept="image/*">
            </ion-button>
          </ion-buttons>
        </ion-item>
        <ion-item >
          <img class="image"  [src]="dato.foto">
        </ion-item>

        
      
        <div class="pt-2">
          <ion-button (click)="registrarse()" type="submit" expand="block" color="success">Registrar</ion-button>
          <!-- <ion-button expand="block" type="reset" color="tertiary">Limpiar</ion-button> -->
        </div>
        <div class="pt-2">
          <ion-button (click)="ingresar()" type="submit" expand="block" color="danger">Ingresar</ion-button>
        
        </div>
        <div class="pt-2">
          <ion-button (click)="salir()" type="submit" expand="block" color="success">Salir</ion-button>
          <!-- <ion-button expand="block" type="reset" color="tertiary">Limpiar</ion-button> -->
        </div>
      </form>
    </ion-card-content>
  </ion-card> 
</ion-content>

<ion-card>
  <ion-card-content>
    <!-- VISTA para Mostrar registros -->
    <div class="container">
      <div class="text-center">
        <h2>Lista de Registros</h2>
      </div>

      <ion-item *ngFor="let re of arrayRegistros">
        <ion-label>{{ re.nombre }}</ion-label>
        <ion-buttons slot="end">
          <ion-button  slot="icon-only" (click)="newRegistro = re" color="warning">
            <ion-icon name="create-sharp"></ion-icon>
          </ion-button>
          <ion-button slot="icon-only" (click)="eliminarRegistro(re)" color="danger">
            <ion-icon name="trash-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </div>
  </ion-card-content>
</ion-card>





<ion-card>
  <ion-input type="email" placeholder="ingrese su email" [(ngModel)]="usuarioNuevo.email"></ion-input>
  <ion-input type="password" placeholder="ingrese su password" [(ngModel)]="usuarioNuevo.password"></ion-input>
  <ion-input type="text" placeholder="ingrese su rut" [(ngModel)]="usuarioNuevo.rut"></ion-input>
  <ion-input type="text" placeholder="ingrese su nombre" [(ngModel)]="usuarioNuevo.nombre"></ion-input>
  <ion-input type="text" placeholder="ingrese su apellido" [(ngModel)]="usuarioNuevo.ap_paterno"></ion-input>

  <ion-button (click)="altaUsuario()">Agregar usuario</ion-button>

  <h6>Lista de usuarios</h6>
  <!-- <ul>
    <li *ngFor="let user of listaDeUsuarios" (click)="obtenerPorId(user.id)">{{user | json}}</li>
  </ul> -->
  <!-- <ul>
    <li *ngFor="let user of listaDeUsuarios" (click)="eliminaru(user.id)">{{user | json}}</li>
  </ul>

  <ion-button (click)="modificaru()">modificar usuario</ion-button> -->

  <ion-item *ngFor="let user of listaDeUsuarios">
    <ion-label>Rut: {{user.rut| json}}</ion-label>
    <ion-buttons slot="end">
      <ion-button  slot="icon-only" (click)="modificaru()" color="warning">
        <ion-icon name="create-sharp"></ion-icon>
      </ion-button>
      <ion-button slot="icon-only" (click)="eliminaru(user.id)" color="danger">
        <ion-icon name="trash-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

</ion-card>






<ion-footer>
  <ion-toolbar color="colorduocazul">
    <ion-title>Desarrollado por: Grupo 1</ion-title>
  </ion-toolbar>
</ion-footer>
  

  

  <!-- CARD QUE CONTIENE LOS DATOS DEL USUARIO ENCONTRADO POR ID -->
  <!-- <div *ngIf=nombre>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="text-center font-weight-bold">Usuario encontrado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list color="secondary">
          <ion-item>
            <p>Rut: </p><p>{{rut}}</p>
          </ion-item>
          <ion-item>
            <p>Nombre: </p><p>{{nombre}}</p>
          </ion-item>
          <ion-item>
            <p>Apellido: </p><p>{{ap_paterno}}</p>
          </ion-item>
          <ion-item>
            <p>Fecha Nacimiento:: </p><p>{{fecha_nac}}</p>
          </ion-item>
          <ion-item>
            <p>Correo: </p><p>{{correo}}</p>
          </ion-item>
          <ion-item>
            <p>Clave: </p><p>{{clave}}</p>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <div class="text-center item-align-center">
        <ion-button (click)="eliminar(txtRut)" fill="clear" class="text-center">
          <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
        </ion-button>
      </div>
    </ion-card>
  </div>

  <div *ngIf="listado.length > 0">
    <ion-card-header>
      <ion-card-title class="text-center font-weight-bold">Listado de Usuarios</ion-card-title>
    </ion-card-header>
    <ion-card>
      <ion-card-content *ngFor="let item of listado">
        <ion-item>
          <ion-label>Rut: {{item[0].rut}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Nombre: {{item[0].nombre}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Apellido: {{item[0].ap_paterno}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Fecha Nac.: {{item[0].fecha_nac}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Fono: {{item[0].fono}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>correo: {{item[0].correo}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>contraseña: {{item[0].password}}</ion-label>
        </ion-item>
        <hr>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content> 

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="agregar(txtRut,txtNombre,txtApellido,txtNac,txtFono,txtCorreo,txtPassword)">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>

  <ion-button (click)="buscar(txtRut)">
    <ion-icon slot="icon-only" name="search"></ion-icon>
  </ion-button>

  <ion-button (click)="listar()" slot="end">
    <ion-icon slot="icon-only" name="list"></ion-icon>
  </ion-button>

  </ion-toolbar>
</ion-footer>-->
