.item-avatar {
    width: 70% !important;
    height: 700% !important;
    max-width: 1000px !important; //any size
    max-height: 1000px !important; //any size 
}

img {
    width: 300px;
}

.pick-avatar {
    width: 200px;
}