<ion-header >
  <ion-toolbar color="colorduocazul" class="pt-5">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <ion-icon slot="start" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="logotoolbar">
        <ion-img src="../../../assets/logoRegistrapp.png" style="width: 100px;"></ion-img>
      </div>
    </ion-title>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- animación del logo registrapp -->
  <ion-card class="p-0 mx-1">
    <div class="bgAzulDuoc text-center p-2 ">
      <div class="swirl-in-fwd ">
        <img src="../../../assets/registrapp.png" alt="logoregistrapp" width="110px">
      </div>
    </div>

    <!-- animacion logo duoc -->
    <div class="text-center p-3 mb-1">
      <div class="bounce-in-top ">
        <img src="../../../assets/logDuoc.png" alt="logoduoc" width="200px">
      </div>
    </div>

    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-col class="px-0" size="12" size-lg="8" size-md="8" size-sm="12" size-xs="12">
          <!-- Recuperación de contraseña -->
          <ion-card-header>
            <h4 class="text-center fw-bold">Recupera tú contraseña</h4>
          </ion-card-header>
          <ion-card-content>
            <div class="p-0">
              <ion-item>
                <ion-label position="floating">Correo</ion-label>
                <ion-input placeholder="Ingresa tú correo DUOC" type="email" required
                  [(ngModel)]="userEmail"></ion-input>
              </ion-item>
            </div>
            <div>
              <ion-button color="colorduocamarillo" expand="block" mode="ios"
                (click)="recuperar()">Recuperar</ion-button>
            </div>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>