<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112081834252-e9eqe5kf1lvdeafga1f80kv4n16upip0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112081834252-e9eqe5kf1lvdeafga1f80kv4n16upip0</string>
	<key>API_KEY</key>
	<string>AIzaSyBp-EjvJF9CF1qKohBK70ukLKL-7q0XC6o</string>
	<key>GCM_SENDER_ID</key>
	<string>112081834252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duoc.registrapp</string>
	<key>PROJECT_ID</key>
	<string>registrapp-4efc9</string>
	<key>STORAGE_BUCKET</key>
	<string>registrapp-4efc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112081834252:ios:fa2311d270d3c4c2b6f929</string>
</dict>
</plist>